{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

 <script type="text/javascript">
     function show(){
        $('#myModal').modal('show');
    }
</script>


<script>
 window.onload=show;
</script>
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">Metro</h4>
      </div>
      <div class="modal-body">
          <div class="tabs-box">

                            {% load static %}

            <img src="{% static 'paywave/images/metro.png' %}" class="commonimage" alt="" data-pin-nopin="true">
              <form action="/actmetro/" method="POST" id="metroform">
                  {% csrf_token %}

                               <div class="input-group mb-3">
                                    <select class="custom-select" id="selectoperator" name="metro_operator" data-live-search="true" required="required">
                                  <option values="Select Operator">Select Operator</option>
                                  <option values="mumbai metro">Mumbai metro</option>
                                  <option values="delhi metro">Delhi Metro</option>


                                </select>
                                </div>

                               <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="text" name="metro_number" placeholder="Enter Metro Number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                     </div>


                                 <button type="submit" class="btn btn-primary">Proceed</button>


						</form>

						</div>



      </div>
      <div class="modal-footer">
        <form method="post" action="{% url "homepage" %}">
              {% csrf_token %}
        <button type="submit" class="btn btn-danger" data-dismiss="model" >Close</button>
          </form>

      </div>
    </div>
  </div>
</div>










{% endblock content %}

